/*
Info: This is the css for sorgarden
Author: Christoffer Larsson
*/

body{
	overflow-y: scroll;
}

h1,h2,h3{
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #555;
}

#page{
	max-width: 1000px;
	margin: 0 auto;
}

.container-fluid{

}

/* HEADER */
#masthead{
	margin: 0 0 24px 0;
	text-align: center;
	background: #f5f5f5;
}

/* TOP NAV */
.top-bar{
	background: #000;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
}

.top-navigation{
	max-width: 960px;
	padding: 0 20px;
	margin: 0 auto;
	text-align: right;
}

/* MENU */
.main-navigation{
	background: #f5f5f5;
	line-height: 0;
}

.menu-primary ul{
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu-primary ul li{
	float: left;
}

.menu-primary ul li a{
	display: block;
	line-height: 40px;
	padding: 0 8px;
	text-decoration: none;
}

.menu-primary ul li a:hover{
	background: #333;
	color: #fff;
}

.menu-primary ul li.current-menu-item > a{
	background: #666;
	color: #fff;
}

.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
	z-index: 99999;

	background: #f3f3f3;
	text-align: left;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
	display: block;
	clear: both;
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}


.main-navigation li.menu-item-parent{

}

/* LAYOUT */

#secondary{
	min-height: 700px;
	border-left: solid 1px #eee;
	padding: 0 16px 0 0;
	padding: 0 0 0 8%;
}

#secondary .widget-title{
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.site-footer{
	padding: 16px 0 0 0;
	margin: 16px 0 32px 0;
	border-top: solid 1px #eee;
}

/* FOR THE LOOP */

article.post{
	clear: both;
	overflow: auto;
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	border-bottom: solid 1px #eee;
}

/* RESPONSIVE STUFFS */

h1.menu-toggle{
	font-size: 20px;
}

/* Large desktop */
@media (min-width: 1200px) { 

body{
	
}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

body{
	
}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	body{
		
	}

	#main-content{
		width: 100%;
	}

	#sidebar{
		width: 100%;
	}

	#secondary{
		width: 100%;
		padding: 24px 0 0 0;
		margin: 24px 0 0 0;
		border-left: none;
		border-top: solid 1px #eee;
	}

	.alignleft, .alignright{
		float: none;
		display: block;
		text-align: center;
		margin: 0 auto 8px auto;
	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {  

	body{
		
	}


}