/*
Info: This is the css for sorgarden
Author: Christoffer Larsson
*/

body{
	overflow-y: scroll;
}

h1,h2,h3{
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #555;
}

#page{
	max-width: 1000px;
	margin: 0 auto;
}

.container-fluid{

}

/* HEADER */
#masthead{
	margin: 0 0 24px 0;
	text-align: center;
}

/* MENU */
.main-navigation{
	background: #f5f5f5;
	line-height: 0;
}

.menu-primary ul{
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu-primary ul li{
	float: left;
}

.menu-primary ul li a{
	display: block;
	line-height: 40px;
	padding: 0 8px;
	text-decoration: none;
}

.menu-primary ul li a:hover{
	background: #333;
	color: #fff;
}

.menu-primary ul li.current-menu-item a{
	font-weight: bold;
}

.menu-primary .sub-menu{
	display: none;
}

/* LAYOUT */

#secondary{
	min-height: 700px;
	border-left: solid 1px #eee;
	padding: 0 16px 0 0;
	padding: 0 0 0 8%;
}

#secondary .widget-title{
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.site-footer{
	padding: 16px 0 0 0;
	margin: 16px 0 32px 0;
	border-top: solid 1px #eee;
}

/* RESPONSIVE STUFFS */

/* Large desktop */
@media (min-width: 1200px) { 

body{
	
}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

body{
	
}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	body{
		
	}

	#main-content{
		width: 100%;
	}

	#sidebar{
		width: 100%;
	}

	#secondary{
		width: 100%;
		padding: 24px 0 0 0;
		margin: 24px 0 0 0;
		border-left: none;
		border-top: solid 1px #eee;
	}

	.alignleft, .alignright{
		float: none;
		display: block;
		text-align: center;
		margin: 0 auto 8px auto;
	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {  

	body{
		
	}


}